{% extends 'flatpages/default.html' %}
{% block content %}
{% block title %}
  <h1>{{ article.title }}</h1>
{% endblock title %}
    <hr>
    <hr>

    {% if article %}
    <table>
        <tr>
            <td><b>файл</b></td>
            <td><b>Текст</b></td>
            <td><b>категория</b></td>

        </tr>
        <tr>
            {% if article.media %}
            <td><img src="{{ article.media.url }}" width="400" height="400" alt="400"></td>
            {% endif %}
            <td>{{ article.text }}</td>
            <td>{{ article.get_category_display }}</td>
        </tr>
    </table>
{% else %}
    <h5> Статей пока нет...</h5>
    <h7> Напишите свою </h7>
{% endif %}
  <h2>Оставьте отклик</h2>
  <form action= "{% url 'comment_create' article.pk %}" method="post">
    {% csrf_token %}
      {{ form }}
    <button type="submit">Отправить отклик</button>
  </form>
{% if article.comment_set.all %}
    <h6> все комментарии :</h6>
    {% for comment in article.comment_set.all %}
    <p> {{ comment.commentUser.username }}</p>
         {% if comment.author == request.user.author %}
             <h5><a href="{% if comment.pk %}{% url 'comment_edit' pk=comment.pk %}{% endif %}">{{ comment.text }}</a></h5>
         {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}





