{% extends 'flatpages/default.html' %}
{% block content %}
 <h1>Страница профиля  {{ request.user.username }}</h1>
  <p>Доброе время суток! Уважаемый {{ request.user.username }}!</p>

  <h2>Список созданных статей :</h2>
<div class="profile_articles">
  {% for article in articles %}
    <div class="profile_article">
      <h3><a href="{% if article.pk %}{% url 'article_detail' pk=article.pk %}{% endif %}">{{ article.title }}</a></h3>
      <p>{{ article.content }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}

